<?xml version="1.0" encoding="utf-8"?>
<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.instagram"
    android:versionCode="1"
    android:versionName="1.0">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:name="com.example.instagram.ParseApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher_instagram"
        android:label="@string/app_name"
        android:roundIcon="@drawable/ic_launcher_instagram"
        android:supportsRtl="true"
        android:theme="@style/Theme.Instagram">

        <!-- make sure within the application tag, otherwise app will crash with XmlResourceParser errors -->
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.codepath.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/fileprovider" />
        </provider>

        <activity
            android:name="com.example.instagram.activities.LoginActivity"
            android:label="@string/app_name"
            android:theme="@style/Theme.Instagram.NoActionBar"
            android:configChanges="orientation"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.example.instagram.activities.MainActivity"
            android:label=""
            android:theme="@style/Theme.Instagram.NoActionBar"
            android:configChanges="orientation"
            android:screenOrientation="portrait">
        </activity>
    </application>

</manifest>